/* || General styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --main-bg-color: #F0F0F2;
    --secondary-bg-color: #383A59;
    --main-color: #2e2e2e;
    --red: #F24B6A;
    --blue:#6A70D9;
    --yellow: #F2C84B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.button {
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.button:hover {
    cursor: pointer;
    background-color: #f91640;
}

section {
    padding: 4rem 0;
}

#scroll-to-top-btn {
    color: white;
    background-color: var(--main-color);
    position: fixed;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 5vh;
    z-index: 1;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#scroll-to-top-btn:hover {
    color: var(--main-color);
    background-color: var(--red)!important; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}

.flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.bold {
    font-weight: bold;
}

/* || Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;  
    background-color: var(--secondary-bg-color);
}

.logo {
    height: 2.5rem;
    width: 5rem;
    margin-right: 1rem;
}

#main-nav {
   display: flex;
   list-style-type: none;
}

#main-nav li {
    margin-right: 1.5rem;
    letter-spacing: 0.2rem;
}

#main-nav li a {
    text-decoration: none;
    color: white;
}

#main-nav li a:hover {
    color: var(--red);
}

/* || Banner */

#banner {
    background-color: var(--secondary-bg-color);
    position: relative;
    min-height: 32rem;
    color: white;
}

.banner-text {
   width: 30%;
   margin-left: 15%;
}

#banner img {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 35rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 1170px) {
    #banner img {
        height: 30rem;
    }

    .banner-text {
        margin-left: 10%;
     }
}

@media only screen and (max-width: 910px) {
    #banner img {
        height: 20rem;
    }

    .banner-text {
        width: 40%;
     }
}

@media only screen and (max-width: 800px) {
    #banner img {
        display: none;
    }

    .banner-text {
        width: 80%;
        margin-left: 10%;
     }
}

/* || Projects */

.project {
    width: 20rem;
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.project p {
    margin: 1rem 0;
}

@media only screen and (max-width: 1104px) {
    .project {
        text-align: center;
    }
}

/* || About */

#about {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  margin: 0 1rem;
}

.experiences-column {
    width: 40%;
    min-width: 20rem;
    position: relative;
}

.experience {
    margin: 2rem 0;
}

.experience-year {
    color: var(--blue);
}

.experience-place {
    color: rgb(65, 65, 65);
}

.experience-title {
    font-size: 1.5rem;
}

.experience-logo {
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: -3rem;
}

.experience ul {
    line-height: 2rem;
    margin-top: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.skill {
    height: 7rem;
    width: 7rem;
    font-weight: bold;
    background-color: var(--yellow);
    color: var(--main-color);
    text-align: center;
    padding: 1.4rem 1.2rem 0 1.4rem;
    font-size: 0.8rem;
    box-shadow: 8px 5px 5px #c0c0c0;
}

.skill-two-lines {
    padding-top: 0.5rem;
}

@media only screen and (max-width: 900px) {
    .experiences-column {
        width: 50%;
        text-align: center;
    }

    .experience-logo {
        position: static;
    }
}

/* || Contact */

#contact {
    text-align: center;
}

